.header {
    background-color: var(--color-black);
    position: sticky;
    top: 0;
    z-index: 15;
    transition: all 0.4s;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 30px;

        @media screen and (max-width: 880px) {
            display: none;
        }
    }
}

.header-is-hidden.is-scrolling-down {
    .header {
        transform: translateY(-100%);
    }
}
