/* ==========================================================================
   icons / component
   ========================================================================== */

.icon {
    fill: currentColor; // inherit color of its context
    display: inline-block;
    flex: 0 0 auto; // prevent icon shrink/grow if in a flex parent
    height: 1em;
    vertical-align: middle;
    width: 1em;
    stroke: transparent;

    @media screen and (max-width: 1000px) {
        height: 1.4em;
        width: 1.4em;
    }

    @media screen and (max-width: 600px) {
        height: 1.7em;
        width: 1.7em;
    }
}

.icon--stroke {
    fill: transparent;
    stroke: currentColor;
}

.icon--xs {
    height: 0.75em;
    width: 0.75em;
}

.icon--sm {
    height: 1em;
    width: 1em;
}

.icon--md {
    height: 1.25em;
    width: 1.25em;

    @media screen and (max-width: 1000px) {
        height: 1.6em;
        width: 1.6em;
    }

    @media screen and (max-width: 600px) {
        height: 2em;
        width: 2em;
    }
}

.icon--lg {
    height: 2em;
    width: 2em;
}

.icon--xl {
    height: 6em;
    width: 6em;
}
