.partenaires{
    background-color: var(--color-black);
    padding: 50px 0;
    position: relative;
    

    h2{
        text-align: center;
        
    }
}

.partenaire{
    position: relative;
    
}

.partenaire-media{
    height: 100%;
    width: 100%;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.partenaire-content{
    position: absolute;
    bottom: 0;
    padding: 30px ;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;

    p{
        margin: 0;
        font-weight: 400;
        font-size:  #{typo(10px, 15px)};
    }


}

.swiper{
    z-index: inherit;
}



.swiper-pagination{
    z-index: 5;
    display: block;
    position: relative;
    padding-top:50px ;


    .swiper-pagination-bullet{
       background: var(--color-gray);
       height: 20px;
       width: 20px;
    }

    .swiper-pagination-bullet-active{
        background: var(--color-white);
    }

    
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);}


.ellipse{
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 2%;
}