.soulier {
    padding: 50px 0;
    position: relative;
    height: 100vh;
}

.soulier-media {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    img {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: bottom;
    }
}


.soulier-content{

    
    
    h2{
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
    }
}


.pastille-icon{
    height: 40px;
    width: 40px;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;

    .icon{
        transition: all 0.5s ease-out;
    }

}

.pastille-content{
    transition: all 0.3s ease-out;
    background-color: var(--color-secondary);
    max-width: 350px;
    padding: 15px;
    border-radius: 15px;
    opacity: 0;

    p{
        margin: 0;
        padding-top: 20px;
    }
}


.pastille{
    display: flex;
    gap:20px ;
    position: absolute;
}

.tenue{
    top: 40%;
    left: 30%;
}

.toucher{
    top: 35%;
    left: 65%;
}

.adherence{
    top: 70%;
    left: 50%;
}


.is-active{
    background-color: var(--color-primary);
    
    .icon{
        transform: rotate(45deg);
    }

    & + .pastille-content{
       opacity: 1;
    }

}