//FONTS
// ici sont chargé les fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// TOOLS
// mixins et fonctions utilisés globalement dans le SCSS (Sass)
@import 'tools/typo';

// SETTINGS
// Contient les variables sur les polices, les définitions de couleurs, les définitions de  grandeurs,   etc.
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/dimensions';
@import 'settings/easing.scss';

// GENERIC
// Permet de réinitialiser les CSS et de changer le modèle de boîte en box-sizing: border-box
@import 'generic/normalize';
@import 'generic/reset';

// ELEMENTS
// Modification des styles généraux de la page. Ce sont les styles qui seront généralement hérités par les éléments de la page.
@import 'elements/body';
@import 'elements/headings';
@import 'elements/links';
@import 'elements/wrapper';

// COMPONENTS
// Composants d'interface utilisateur spécifiques.
// C’est là que la majorité de notre travail a lieu.
@import '../../node_modules/swiper/swiper-bundle';
@import 'components/icons';
@import 'components/header';
@import 'components/hero';
@import 'components/actualites.scss';
@import 'components/decouvrir.scss';
@import 'components/bouton.scss';
@import 'components/evenement.scss';
@import 'components/services.scss';
@import 'components/footer.scss';
@import 'components/joindre.scss';
@import 'components/scolly.scss';
@import 'components/form.scss';
// UTILITIES
// Utilitaires et classes auxiliaires avec possibilité de remplacer tout ce qui précède, par exemple masquer les éléments de la page
