/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #f2620f;
    --color-secondary: #b2352e;
    --color-gray: #a29ca3;
}
