/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #50a0bf;
    --color-bg-primary: #023859;
    --color-bleu-dark: #025373;
    --color-bleu-light: #96c6d9;
    --color-fail: #eb4747;
}
