{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->


<section class="hero">


    <div class="hero-shoes swiper"  data-loop data-autoplay data-component="Carousel">
        <div class="swiper-wrapper">
            
            <div class="container swiper-slide"><img src="assets/images/soulier_blanc.png" alt="soulier blanc"  /></div>
            <div class="container swiper-slide"><img src="assets/images/soulier_orange.png" alt="soulier orange"  /></div>
            <div class="container swiper-slide"><img src="assets/images/soulier_rose.png" alt="soulier rose" /></div>
            
            
            
            
        </div> 
    </div>
    
    
    <div class="wrapper">
        <div class="hero-media">
            <img src="assets/images/hero_bg.jpg" alt="backgorund">
        </div>


    <div class="hero-content">
        <div class="title-hero">
        
        <h1>nike</h1>
        <div class="phantom">
            <h1 class="front">phantom</h1>
        <h1>luna</h1>
        </div>
        

        </div>
        

        <p>Dominez le terrain avec style et performance : nos chaussures de football féminin sont conçues pour les championnes en herbe.</p>
    </div>

   

    </div>
</section>



<section class="tech">
    <div class="wrapper">

        <div class="tech-media">
            <video src="assets/videos/soulier.mp4" autoplay loop></video>
        </div>
        
        <div class="tech-content">
            <h2>Une technologie révolutionnnaire</h2>

            <p>Les phantom luna sont spécialement conçues pour offrir une tenue,  une adhérence et un toucher optimal pour le jeu sur  le terrain.
                Seulement 250$</p>
        </div>


    </div>
</section>

<section class="soulier">

    <div class="soulier-media">
        <img src="assets/images/bg_soulier.jpg" alt="soulier blanc">
    </div>

    
    <div class="wrapper">

        <div class="soulier-content">
            <h2>Un soulier qui change votre façon de jouer</h2>

            <div class="pastille">
                <svg class="icon">
                    <use xlink:href="#icon-plus"></use>
                </svg>
            </div>

            <div class="pastille">
                <svg class="icon">
                    <use xlink:href="#icon-plus"></use>
                </svg>
            </div>

            <div class="pastille">
                <svg class="icon">
                    <use xlink:href="#icon-plus"></use>
                </svg>
            </div>


            
        </div>
        
        


    </div>
</section>







{% include "_partials/_footer.html" %}
